<div class="container-fluid container-100">
  <div class="row row-100">
    <div class="col-lg-2 col-sm-3">
      <nav class="navbar navbar-inverse navbar-fixed-side">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#side-navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
              <i class="fa fa-camera"></i> <span class="light">Exposure</span> Photography
            </a>
          </div>

          <div class="collapse navbar-collapse" id="side-navbar-collapse">
            <ul class="nav navbar-nav">
              <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
              <li class="hidden">
                <a href="#page-top"></a>
              </li>
              <li>
                <a class="page-scroll" href="#kepek">Képek</a>
              </li>
              <li>
                <a class="page-scroll" href="#rolunk">Rólunk</a>
              </li>
              <li>
                <a class="page-scroll" href="#szolgaltatasok">Szolgáltatások</a>
              </li>
              <li>
                <a class="page-scroll" href="#elerhetosegek">Elérhetőségek</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="col-lg-10 col-sm-9 col-custom">
      <header class="intro">
        <div class="intro-body">
          <h1 class="brand-heading"><span class="light">Exposure</span> Photography</h1>
          <p class="intro-text">Ahol a professzionalizmus a kulcs</p>
          <a href="#kepek" class="btn btn-circle page-scroll intro-button">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </header>

      <section id="kepek" class="content-section text-center">
        <div class="row">
          <div class="col-sm-12">
            <h2>Képek</h2>
            <p>A legjobb eszközökkel készítve, biztos kézből.</p>
          </div>
        </div>
      </section>


      <section id="rolunk" class="content-section text-center">
        <div class="row">
          <div class="col-sm-12">
            <h2>Rólunk</h2>
          </div>
        </div>
        <div class="row row-extra-margin">
          <div class="col-lg-4">
            <i class="fa fa-lightbulb-o fa-5x"></i>
            <h4>Kreativitás</h4>
            <p class="section-details">Néhány emlék többet érdemel, mint a telefonunk, vagy a kézi kiskameránk által készített fényképek. Ezért szeretnék arra törekedni, hogy a fontos pillanatokból feledhetetlent alkossak és Önöket egyedi képsorozatokkal, változatosan és mindig újat mutatva kápráztassam el.</p>
          </div>
          <div class="col-lg-4">
            <i class="fa fa-key fa-5x"></i>
            <h4>Professzionalizmus</h4>
            <p class="section-details">12 éves munkásságom során rengeteg területről gyűjthettem tapasztalatot és ezzel nem csak a munkámat tettem megbízhatóvá, pontossá és gyorssá, hanem a fényképészet szenvedélyemmé és hivatásommá is vált. Ez tette lehetővé, hogy a valóság részleteit új megvilágításban, a legprofibb felszerelést használva tárhassam Önök elé.</p>
          </div>
          <div class="col-lg-4">
            <i class="fa fa-bar-chart fa-5x"></i>
            <h4>Ár / Érték arány</h4>
            <p class="section-details">Az árakkal szeretném az elérhetőséget megtestesíteni, emellett a magas minőséget kiemelt szerepben részesíteni.</p>
          </div>
        </div>
      </section>

      <section id="szolgaltatasok" class="content-section text-center">
        <div class="row">
          <div class="col-sm-12">
            <h2>Szolgáltatások</h2>
          </div>
        </div>
        <div class="row row-extra-margin">
          <div class="col-lg-4 col-lg-offset-2">
            <i class="fa fa-user fa-5x"></i>
          </div>
          <div class="col-lg-6">
            <h4>Tabló- és Portréfotózás</h4>
            <p class="section-details">Osztályok illetve kiemelten végzős osztályok számára kínálunk lehetőséget egy stílusos tabló vagy osztálykép elkészítésére.</p>
          </div>
        </div>
      </section>

      <section id="elerhetosegek" class="content-section text-center">
        <div class="row">
          <div class="col-sm-12">
            <h2>Elérhetőségek</h2>
          </div>
        </div>
        <div class="row row-extra-margin">
          <div class="col-lg-8 col-lg-offset-2">
            <ul class="list-inline contact-buttons">
              <li>
                <a href="mailto:deletedestar@gmail.com" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">info@exposure.com</span></a>
              </li>
              <li>
                <a href="https://www.facebook.com/exposure.photography.4u/?fref=ts" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
              </li>
              <li>
                <a class="btn btn-default btn-lg"><i class="fa fa-phone fa-fw"></i> <span class="network-name">Tel.: +36-30/5466665</span></a>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <footer>
        <div class="text-center">
          <p>&copy 2016 <a href="http://www.boole.hu/">Bool Team</a></p>
        </div>
      </footer>

    </div>
  </div>
</div>